[buildout]
extends = https://raw.githubusercontent.com/VoteIT/voteit_cookiecutter_buildout/master/buildout_defaults/production.cfg

eggs +=
    voteit.debate
    voteit.irl
    voteit.schulze
    voteit.printable
    voteit.dutt
    voteit.combined_simple
    voteit.stv
    voteit.motion
    vision_theme

develop =
    src/vision_theme

show-picked-versions = true

[crontab-pack]
# m h   dom mon dow |
times = 00 01   * *  1
